<tr>
  <td>
    <%= I18n.localize(event.created_at) %>
    <br>
    <%= time_ago_in_words(event.created_at) %>
  </td>
  <td><%= t("cron_monitor.event_kinds.#{event.kind}") %></td>
  <td>
    <% if event.data.present? %>
      <% event.data.each do |k,v| %>
        <%= k %>: <%= v %>
        <br>
      <% end %>
    <% else %>
      -
    <% end %>
  </td>  
</tr>
