<!DOCTYPE html>
<html>
<head>
  <title>Cron monitor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cron_monitor/application", media: "all" %>
  <%= javascript_include_tag "cron_monitor/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
