<th><%= t("cron_monitor.row_titles.title_html") %></th>
<th><%= t("cron_monitor.row_titles.description_html") %></th>
<th><%= t("cron_monitor.row_titles.last_started_execution_html") %></th>
<th><%= t("cron_monitor.row_titles.last_finished_execution_html") %></th>
<th><%= t("cron_monitor.row_titles.last_duration_html") %></th>
<th><%= t("cron_monitor.row_titles.is_running_properly_html") %></th>
<th><%= t("cron_monitor.row_titles.alarm_html") %></th>