<td><%= category.title %></td>
<td><%= category.description %></td>
<td>
  <% if category.last_start_event_created_at.present? %>
    <%= I18n.localize(category.last_start_event_created_at.to_datetime.in_time_zone) %>
    <br>
    <small class="text-muted"><%= time_ago_in_words(category.last_start_event_created_at.to_datetime) %> <%= I18n.t('cron_monitor.ago') %></small>
  <% else %>
    Never
  <% end %>
</td>
<td>
  <% if category.last_finish_event_created_at.present? %>
    <%= I18n.localize(category.last_finish_event_created_at.to_datetime.in_time_zone) %>
    <br>
    <small class="text-muted"><%= time_ago_in_words(category.last_finish_event_created_at.to_datetime) %> <%= I18n.t('cron_monitor.ago') %></small>
  <% else %>
    Never
  <% end %>
</td>
<td>
  <% if category.last_finish_event_created_at.blank? %>
    <%= t("cron_monitor.never_finished") %>
  <% elsif category.last_finish_event_created_at.present? && category.last_start_event_created_at.present? %>
    <% if category.last_finish_event_created_at >= category.last_start_event_created_at %>
      <%= distance_of_time_in_words(category.last_start_event_created_at.to_datetime, category.last_finish_event_created_at.to_datetime) %>
    <% else %>
      <%= t("cron_monitor.started_waiting_for_finish", time_ago: time_ago_in_words(category.last_start_event_created_at.to_datetime)) %>
    <% end %>
  <% else %>
    -
  <% end %>
</td>
<td>
  <% if !category.has_alarm? %>
    No alarm
  <% elsif category.is_running_properly?(last_finish_event_created_at: category.last_finish_event_created_at) %>
    <span class="badge badge-pill badge-success">Yes</span>
    <% if category.last_finish_event_created_at.blank? && !category.should_have_run_yet? %>
      (Shouldn't have run yet)
    <% end %>
  <% else %>
    <span class="badge badge-pill badge-danger">No</span>
    <br>
    <%= I18n.translate(
      "cron_monitor.starting_or_finishing.should_have_run",
      should_have_run_after: I18n.localize(category.should_have_finished_after),
      ran_at_or_never_ran: category.last_finish_event_created_at.blank? ? I18n.translate("cron_monitor.starting_or_finishing.it_never_ran") : I18n.translate("cron_monitor.starting_or_finishing.last_ran_at", datetime: I18n.localize(category.last_finish_event_created_at.to_datetime.in_time_zone)),
      locale: CronMonitor.i18n
    ) %>
  <% end %>
</td>
<td>
  <% if !category.has_alarm? %>
    No alarm
  <% else %>
    <%= I18n.t("cron_monitor.time_frames.#{category.time_frame}", count: category.time_interval) %>
  <% end %>
</td>