<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1>Monitors 
    <%= link_to  new_category_path, class: 'btn btn-primary' do %>
      <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
      </svg> New Monitor
    <% end %>
  </h1>

  <div class="alert alert-info">
    <%= t("cron_monitor.alert_info_html", delete_older_than: CronMonitor::delete_events_older_than.inspect) %>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <%= render partial: 'category_shared_table_headers' %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <%= render partial: 'category_shared_columns', locals: { category: category } %>
          <td><%= link_to t('cron_monitor.btns.show'), category %></td>
          <td><%= link_to t('cron_monitor.btns.edit'), edit_category_path(category) %></td>
          <td><%= link_to t('cron_monitor.btns.destroy'), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>