<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1><%= @category.title %> 
    <%= link_to root_path, class: 'btn btn-primary' do %>
      <svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.646 3.146a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4.5a.5.5 0 01-.5-.5v-4H9v4a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6zM4.5 9.707V16H8v-4a.5.5 0 01.5-.5h3a.5.5 0 01.5.5v4h3.5V9.707l-5.5-5.5-5.5 5.5z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M15 4.5V8l-2-2V4.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"></path>
      </svg> Home
    <% end %>
  </h1>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <%= render partial: 'cron_monitor/categories/category_shared_table_headers' %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render partial: 'cron_monitor/categories/category_shared_columns', locals: { category: @category } %>
      </tr>
    </tbody>
  </table>

  <h2>Events</h2>

  <% if @events.load.any? %>

    <table class="table table-bordered">
      <thead>
        <th>
          Time
        </th>
        <th>Kind</th>
        <th>Data</th>
      </thead>
      <tbody>
        <%= render @events %>
      </tbody>
    </table>


  <% else %>

    <p>There are no events.</p>

  <% end %>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>